<div id="page-title">
  <div id="page-title-inner">
    <div class="container">
      <h2><i class="ico-keynote"></i><%= @notification.message.title %></h2>
    </div>
  </div>  
</div>

<div id="wrapper">
  <div class="container">

    <div class="row">    
      <div class="span9">

        <div class="post">
          <div class="post-content">
            <div class="post-title">
              <h2><%= distance_of_time_in_words_to_now(@notification.created_at) %> ago, <%= @notification.message.author.name %> wrote:</h2>
            </div>
            <div class="post-description">
              <p><%= raw markdown.render(@notification.message.description) %></p>
            </div>
            <div class="post-meta">
              <span><i class="mini-ico-calendar"></i><%= @notification.created_at.to_s(:short) %></span>
              <span><i class="mini-ico-user"></i>By <a href="#"><%= @notification.message.author.name %></a></span>
            </div>
          </div>
        </div>

        <hr>
        <!-- start: Comments -->
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'mastercointeampage'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        <!-- end: Comments -->
        
        <div class="clear"></div>

        <div class="post">
          <div class="title">
            <br>
            <h3>More Unread Notifications </h3>
          </div><br>

            <% if current_user.notifications.where(read: false).present? %>
              <table>
                <tr>
                  <th>Created at</th>
                  <th>Title</th>
                  <th>Message</th>
                  <th></th>
                </tr>
                  <% current_user.notifications.where(read: false).order('created_at DESC').each do |notification| %>
                    <tr>
                      <td><%= notification.message.created_at.to_s(:short) %></td>
                      <td><%= notification.message.title %></td>
                      <td><%= truncate(notification.message.description,length: 50) %></td>
                      <td><%= link_to 'Show', message_path(notification.message) %></td>
                    </tr>
                  <% end %>
              </table>
            <% else %>
              There's no new notifications to be read.
            <% end %>
        </div>
        <hr>

      </div>
      <%= render 'layouts/news_banner' %>
    </div>

  </div>
</div>    
 