<div id="page-title">
  <div id="page-title-inner">
    <div class="container">
      <h2><i class="ico-keynote"></i><%= @newsitem.title %></h2>
    </div>
  </div>  
</div>

<div id="wrapper">
  <div class="container">
 
    <div class="row">
      <div class="span9">

        <div class="post">
          <div class="post-content">
            <div class="post-description">
              <p><%= raw markdown.render(@newsitem.description) %></p>
            </div>
            <div class="post-meta">
              <span><i class="mini-ico-calendar"></i><%= @newsitem.created_at.to_s(:short) %></span>
              <span><i class="mini-ico-user"></i>By <a href="#"><%= link_to @newsitem.user.name, user_path(@newsitem.user) %></a></span>
              <span><div class="fb-share-button" data-href="http://mysterious-meadow-4454.herokuapp.com/newsitems" data-type="button"></div></span>
              <% if current_user && current_user.kind == "Admin" %>
                <span><i class="mini-ico-user"></i><%= link_to 'Edit', edit_newsitem_path(@newsitem) %></span>
              <% end %>
            </div>
          </div>
        </div>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'mastercointeampage'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>

      <%= render 'layouts/news_banner' %>

      </div>
    </div>
    <%= link_to 'Edit', edit_newsitem_path(@newsitem) %> |
    <%= link_to 'Back', newsitems_path %>    
  </div>
</div>    


