<div id="wrapper">
  <div class="container">
  <hr>
    <!-- start: Row -->
    <div class="row">
      <div class="span9">

        <div class="post">
          <div class="title">
          <br>
            <h3>Why does it matter, how is it being developed, and what is the best way to test it out?</h3>
          </div><br>
          <p><strong>Why</strong>: Mastercoin enables the Bitcoin eco-system to become more decentralized and operate more in line with its peer to peer nature.</p>
          <p><strong>How:</strong> The MasterCoin community is engaged in collabrative coding competitions and bounties, all of which are open sourced.</p>
          <p><strong>What:</strong>Download the experimental code from Github, contribute to the project or test out the experimental clients.</p>
            <ul>
              <li>Github: Python MSC Tools, MSC Library for Ruby, MSC Wallet in Ruby, General MSC Coding Tools,</li>
              <li>Clients: MSC Web Wallet / Explorer and Test out Block Chain Explorer.</li>
            </ul>
          <p><br>
            <strong>Where:</strong> Here are five ways to get some MSC:
            <ol>
              <li>Google Doc Order Book with open buy and sell orders. or </li>
              <li>Contribute to the Development of the Mastercoin open source codebase and earn "Development / Reward Mastercoins".</li>
              <li>For small test amounts, there is a "Give Away" thread on Bitcoin Talk or</li>
              <li>For small amounts of real Mastercoins, there is a Mastercoin Faucet.</li>
              <li>Get your hands on some Mastercoins through the private BuyMastercoins.com</li>
            </ol>
          </p>
          <p><strong>More Details:</strong> For more technical information, please read the MasterCoin Protocol Whitepaper and follow the Mastercoin Blog.</p>
        </div>

      </div><!-- end: Span9 -->

      <div class="span3 hidden-phone">
        
        <div class="widget">
          <div class="title">
            <h3>Mastercoin Introduction</h3>
          </div>
          <div class="flex-video widescreen">
            <iframe src="http://player.vimeo.com/video/78498192" width="480" height="256" frameborder="0" title="Mastercoin Calls for Developers" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          </div>
        </div>

        <div class="widget">
          <div class="title">
            <h3>Video Widget</h3>
          </div>
          <div class="flex-video widescreen">
            <iframe src="http://player.vimeo.com/video/78498192" width="480" height="256" frameborder="0" title="Mastercoin Calls for Developers" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          </div>
        </div>

      </div>

    </div>
    <!-- end: Row -->
    <hr>

    <div class="title-out">
      <h3>Press Coverage of Mastercoin</h3>
    </div>

    <div class="clients-carousel"> 
      <div class="flex-viewport" style="overflow: hidden; position: relative;">
        <ul class="slides clients" style="width: 4000%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-877.5px, 0, 0);">
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "1.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "2.png"  %></li> 
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "3.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "4.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "5.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "6.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "7.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "8.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "9.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "10.png" %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "1.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "2.png"  %></li> 
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "3.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "4.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "5.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "6.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "7.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "8.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "9.png"  %></li>
          <li style="width: 144.25px; float: left; display: block;"><%= image_tag "10.png" %></li>  
        </ul>
      </div>
    </div>

    <hr>
	</div>
</div>
